* {
    margin: 0px;
    padding:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    background-color: #78e4789d;
    padding: 10px;
    margin: 10px;
    width: 50%;
    text-align: center;
    border-radius: 6px;
}

h3 {
    background-color: #b1ca1fb7;
    padding: 10px;
    margin: 10px;
    width: 20%;
    border-radius: 6px;

}

p {
    margin: 10px;
    padding: 10px;
    width: 50%;
}

.container-aviso {
    margin: 10px;
    padding: 10px;
    width: 50%;
    background-color: #8080808a;
    width: 20%;
    border-radius: 6px;
}

ol, ul {
    margin: 20px;
    padding: 20px;
}