<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Flask</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

    <h1>Flask - Um mundo estranho</h1>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum eaque mollitia 
        at officiis laudantium excepturi voluptate numquam modi minima libero laborum 
        quisquam distinctio est soluta, ducimus quo aliquam optio sed.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum eaque mollitia 
        at officiis laudantium excepturi voluptate numquam modi minima libero laborum 
        quisquam distinctio est soluta, ducimus quo aliquam optio sed.
    </p>

    <h3>Nome: {{nome}}</h3>
    <h3>Idade: {{idade}}</h3>

    {% if nome == 'auridebson' %}
        <p class="container-aviso">Bem vindo {{nome}}</p>
    {% else %}
        <p class="container-aviso">Você não é o usuário esperado</p>
    {% endif %}

    <h4>Nomes mais comuns na Itália</h4>
    {% for nome in lista %}
    <h3>{{nome}}</h3>
    {% endfor %}
    

</body>
</html>